body {
  background-color: #202124;
  color: #ffffff;
  padding: 20px;
  min-width: 300px;
  font-family: 'Garamond', serif;
  font-size: 16px;
  line-height: 1.6;
}

.summary-container {
  max-width: 100%;
}

h2 {
  margin-bottom: 20px;
  color: #ebe1e1;
  font-weight: bold;
  margin-left: 15px;
}

#summary {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#export_notion {
  background-color: rgb(66, 68, 83);
  border: none;
  color: white;
  padding: 7px 7px;
  margin-left: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 22px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#export_notion img{
  width: 30px;
  height: 30px;
}

#export_notion:hover {
  background-color: rgb(92, 97, 141); /* Darker green */
}

#summary p {
  margin-bottom: 10px;
}

#summary ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

#summary li {
  list-style-type: disc;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbars */
}

