/* popup.css */

body {
  background-color: #202124;
  color: #ffffff;
  padding: 20px;
  min-width: 300px;
  font-family: 'Garamond', serif;
  font-size: 16px;
  line-height: 1.6;
}

.summary-container {
  max-width: 100%;
}

h2 {
  margin-bottom: 20px;
  color: #ebe1e1;
  font-weight: bold;
  margin-left: 15px;
}

#summaryPage {
  display: block;
}

#settingsPage {
  display: none;
  position: relative;
}

#summary {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#export_notion {
  background-color: rgb(66, 68, 83);
  border: none;
  color: white;
  padding: 7px 7px;
  margin-left: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 22px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#export_notion img {
  width: 30px;
  height: 30px;
}

#export_notion:hover {
  background-color: rgb(92, 97, 141); /* Darker green */
}

.header {
  position: relative;
}

#settingsBtn {
  position: absolute;
  top: 8px;
  right: 5px;
  cursor: pointer;
  background-color: #202124;
  border: none;
}

#settingsBtn img {
  width: 20px; 
}

.settings-panel {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.setting-item {
  margin-bottom: 10px;
}

.setting-item label {
  display: block;
  margin-bottom: 5px;
  color: #ebe1e1;
}

.setting-item input {
  width: 90%;
  padding: 8px;
  /* padding-right: 8px; */
  font-size: 14px;
  border: 1px solid #444;
  background-color: #444;
  color: #ffffff;
  border-radius: 4px;
}

#confirmSettings {
  background-color: rgb(66, 68, 83);
  border: none;
  color: white;
  padding: 7px 105px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#confirmSettings:hover {
  background-color: rgb(92, 97, 141); /* Darker green */
}

#closeSettingsBtn {
  position: absolute;
  top: 8px;
  right: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#closeSettingsBtn img {
  width: 20px; 
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbars */
}
