<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="jfSEE12raXt1EYY-p5OO2UWukG4HyC7He-mmM5JuAuQ" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/index.css">
    <script>
        
        function summarizeText() {
            var text = document.getElementById('text').value;
            fetch('https://smmry-ext.onrender.com/summarize', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ input_text: text })
            }).then(response => response.json()).then(data => {
                alert(data.summary);
            }).catch(error => {
                alert('Error generating summary.');
                console.error('Error:', error);
            });
        }

        function closePopup() {
            document.getElementById('popup').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <form class="form" action="javascript:void(0);">
            <p class="field required">
                <label class="label required" for="text">Enter text to summarize</label>
                <textarea class="text-input" id="text" name="text" rows="4" required></textarea>
            </p>
            <p class="field">
                <input class="button" type="submit" value="Summarize" onclick="summarizeText()">
            </p>
        </form>
    </div>
    <div class="footer">
        Made with <span style="color: #e25555;">&hearts;</span> by <a href="https://github.com/AsharAmir" target="_blank">Ashar</a>
    </div>

    <div class="popup" id="popup">
        <button class="close-btn" onclick="closePopup()">&times;</button>
        <img src="logo.png" alt="Extension">
        <div class="content">
            <h5>Get the Chrome Extension!</h5>
            <p>Make your summarizing experience even better with our Chrome <a href="https://github.com/AsharAmir" target="_blank" style="color: #e25555;">extension</a>.</p>
        </div>
    </div>
</body>
</html>
